<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">


  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  values = {{values|tojson}};

  function drawChart() {
    var data = google.visualization.arrayToDataTable(values.chart_data);
    var options = {
      title: '삼성전자'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));

    chart.draw(data, options);
  }

    </script>
</head>
<body>
<form action="/login" method="post">
        {% if not values.logged_in %}
    <table>
        <tr>
            <th>ID: </th><td><input name="id" type="text" value="" placeholder="ID"></td>
        </tr>
        <tr>
            <th>PASSWORD: </th><td><input name="pwd" type="text" value="" placeholder="PASSWORD"></td>
        </tr>
        <tr>
            <td><input type="submit" value="로그인"></td>
        </tr>
    </table>
        {% endif %}

</form>

<div id="chart" style="width: 900px; height: 500px"></div>
</body>
<script>
    let token = localStorage.getItem('token');
    console.log(token);
</script>
</html>