<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
class Queue {
  constructor() {
    this._arr = [];
  }
  enqueue(item) {
    this._arr.push(item);
  }
  dequeue() {
    return this._arr.shift();
  }
  arr(){
      return this._arr;
  }
}

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
data_queue = Queue();
console.log({{chartData}});
  {{chartData}}.forEach(e => {
    console.log(e)
      data_queue.enqueue(e);
  });
// data_queue.enqueue()
// data_queue.dequeue()
  function drawChart() {
    var data = google.visualization.arrayToDataTable(data_queue.arr());

    var options = {
      title: '삼성전자'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));

    chart.draw(data, options);
  }
</script>
</head>
<body>
<div id="chart" style="width: 900px; height: 500px"></div>
</body>
</html>