<html>

<head>
    <title>Doument</title>
    <link rel="stylesheet" href="css/bootstrap.css">

    <script language="javascript">
        function showPopup() { window.open("popupped.html", "a", "width=600, height=400, left=100, top=50"); }
    </script>
</head>

<body>
    

    <input type="button" class="btn btn-primary" value="submit" onclick="showPopup();" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>