{% extends 'base.html' %}
{% block content %}
{% if message %}
<div>{{message}}</div>
{% endif %}
<div align="center">
    <div id="chart" style="width: 900px; height: 500px"></div>
    {% if values.logged_in %}
    <a href="#" class="btn btn-success" onclick="stockSell()">매도</a>
    <a href="#" class="btn btn-success" onclick="stockBuy()">매수</a>
    <br/>
    <form action="{{url_for('stock_alarm')}}" method="post">
        <input type="hidden" name="stock_code" value="{{values.chart_code}}"/>
        <input type="number" name="price" placeholder="알람 가격">
        <select name="condition_type">
            <option value="0">이상</option>
            <option value="1">이하</option>
        </select>
        <input class="btn btn-success" type="submit" value="알람 설정">
    </form>
    {% endif %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(values.chart_data);
    var options = {
      title: values.chart_name
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));

    chart.draw(data, options);
  }
  function stockSell(){
  let price = values.chart_data[values.chart_data.length-1][1];
    window.open('{{url_for("stock_sell")}}?code={{values.chart_code}}&name={{values.chart_name}}&price='+price,'name','resizable=no width=600 height=500');return false;
    }
  function stockBuy(){
  let price = values.chart_data[values.chart_data.length-1][1];
    window.open('{{url_for("stock_buy")}}?code={{values.chart_code}}&name={{values.chart_name}}&price='+price,'name','resizable=no width=600 height=500');return false;
    }



    </script>
</div>
{% endblock %}